.yellow{
    width: 0px;
    height: 0px;
    border-right: 120px solid transparent;
    border-top: 120px solid yellow;
    border-left: 120px solid yellow;
    border-bottom: 120px solid yellow;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
margin-left: 41%

}

#img{
    position: absolute;  
    z-index: -1;
    margin-left: 50%;

}


    


   



